<div class="content-header  page-header">
    <div class="row">
        <h1 class="col-sm-12"><%= Spree.t(:new_document) %></h1>
      </div>
</div>

<%= form_for [:admin, @product, @document], :html => { :multipart => true } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'refresh' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= link_to_with_icon 'remove', Spree.t('actions.cancel'), admin_product_documents_url(@product), :id => 'cancel_link', :class => 'button' %>
  
  </div>
<% end %>
